<div class='posts'>
  <% if posts.exists? %>
    <% posts.each do |post| %>
      <div class='post'>
        <div class='upvote-container'>
          <div class='arrow'></div>
          <%= RedditPostsHelper.upvotes_formatter(post.upvotes) %>
        </div>
        <%= link_to post.title, post.url, :target => '_blank', :class => 'title' %>
        <div class='post-info'>
          <div class='post-submitted'>
            submitted <%= RedditPostsHelper.submitted_formatter(post.submitted_date) %> to <%= link_to "r/#{post.subreddit}", "https://reddit.com/r/#{post.subreddit}", :target => '_blank' %>
          </div>
          <%= link_to 'Comments', "https://reddit.com#{post.permalink}", :target => '_blank', :class => 'post-comments' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h1>No posts found.</h1>
    <div class='title'>Try a different date or subreddit</div>
  <% end %>
</div>
