<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/google_analytics' %>
    <title>Reddit Daily Top Posts Archive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class='header'>
      <%= link_to '', root_path, :class => 'logo' %>
      <div class='picker'>
        <%= form_tag archive_path, method: :get do %>
          Subreddit: <%= select_tag(:subreddit, options_for_select(RedditPost::SUBREDDITS)) %>
          Date: <%= select_date Date.today %>
          <%= submit_tag 'Go', name: nil %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
